@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Rubik:wght@400;500&display=swap');

*::before , *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
*{
    background-color: rgb(148, 7, 7)  ;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    min-height: 100vh;
    background-image: url(/assets/img/peakpx\ \(2\).jpg);
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: 900px;
    

}

body {
    min-height: 100vh;
    font-size: 20px;
    color: white;
}


.gender {
    align-items: center;
}

.border {
    background-color: aqua;
}

.w {
    padding: 8px;
    background-color: white;
    border: none;
    border-radius: 30px;

    
}

.btn1 {

    background-color: rgb(255, 13, 0);
    border: none;
    border-radius: 40px;
    font-size: 20px;
    
}

.h {
    padding: 8px;
    background-color: white;
    border-radius: 20px;

}

p {
    background-color: transparent;
    color: rgb(255, 255, 255);
}

h1{
    background-color: transparent;
}

.btn1:hover {
    font-size: 25px;
    background-color: black;
    color: rgb(148, 7, 7);
}

span {
    background-color: transparent;
    color: rgb(221, 1, 1);
}

@media screen {
    
}